#character-selection {
    width: 90%;
    height: 200px;
}

.character-image {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.available-enemy {
    padding: 10px;
    height: 100%;
    width: 100%;
}

#defender {
    padding: 10px;
    height: 100%;
    width: 100%;
}

